Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.PackageManagerUI.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.Analytics.DataPrivacy.csproj
Temp.sln
Temp.csproj
Temp.Plugins.csproj
Temp.Editor.csproj
Temp.Editor.Plugins.csproj
.vs/
Library/
obj/
Packages/manifest.json
Logs/Packages-Update.log
Temp/
