.vs/
Library/
obj/
Logs/
Packages/manifest.json
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Temp.Editor.Plugins.csproj
Assembly-CSharp-firstpass.csproj
Temp.csproj
Temp.Plugins.csproj
Temp.sln
Temp.Editor.csproj
Unity.TextMeshPro.csproj
Unity.CollabProxy.Editor.csproj
Unity.Analytics.DataPrivacy.csproj
Unity.TextMeshPro.Editor.csproj
Unity.PackageManagerUI.Editor.csproj
